.debug {
  border: 3px solid red;
}

@font-face {
  font-family: 'Montserrat', serif;
  src: url("../police/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Just Another Hand";
  src: url("../police/justanotherhand-regular.ttf");
}

body {
  overflow-y: hidden;
}

@media screen and (min-width: 991px) {
  div.menu_gauchexs {
    display: none;
  }
  div.colone-1 p.p6 {
    margin-top: 0px !important;
  }
}

@media screen and (max-width: 991px) {
  div.menu_gauche {
    display: none;
  }
  div.colone-1 div.infocenter {
    margin: 0 30px 0 !important;
  }
  div.colone-2 {
    display: none;
  }
  div.menu_gauchexs {
    width: 100vh;
    margin: 0px !important;
    padding: 0px !important;
    background: #1E1E1E;
    -webkit-box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.2);
  }
  div.menu_gauchexs div.TB2 {
    width: 100%;
    height: 135px;
    left: 0px;
    top: 0px;
    background: #E77A15;
  }
  div.menu_gauchexs div.TB2 p.ptb2 {
    padding-top: 50px;
    text-align: center;
    font-family: Just Another Hand;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
  }
  div.menu_gauchexs ul.ul-top2 {
    margin: auto;
    padding: 30px;
  }
  div.menu_gauchexs ul.ul-top2 li.menu2 {
    display: block;
    float: left;
    list-style: none;
    text-decoration: none;
  }
  div.menu_gauchexs ul.ul-top2 li.menu2 a {
    padding: 50px;
    text-align: center;
    color: #E77A15;
    line-height: 60px;
  }
  div.menu_gauchexs ul.ul-top2 li.menu2 a.active {
    color: #FFFFFF;
  }
  div.menu_gauchexs ul.ul-top2 li.menu2 i {
    font-size: 35px;
  }
}

div.menu_gauche {
  height: 100vh;
  margin: 0px !important;
  padding: 0px !important;
  background: #1E1E1E;
  -webkit-box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.2);
}

div.menu_gauche div.TB {
  width: 100vh;
  height: 135px;
  left: 0px;
  top: 0px;
  background: #E77A15;
}

div.menu_gauche div.TB p.ptb {
  padding-top: 50px;
  text-align: center;
  font-family: Just Another Hand;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
}

div.menu_gauche ul.ul-top {
  margin-top: 120px;
}

div.menu_gauche ul.ul-top li.menu {
  list-style: none;
  text-decoration: none;
}

div.menu_gauche ul.ul-top li.menu a {
  color: #E77A15;
  line-height: 60px;
}

div.menu_gauche ul.ul-top li.menu a.active {
  color: #FFFFFF;
}

div.menu_gauche ul.ul-top li.menu i {
  font-size: 35px;
}

@media screen and (max-width: 990px) {
  div.colone-1 {
    height: 100vh !important;
  }
  div.colone-1 p.p6 {
    margin-top: 0px !important;
  }
}

@media screen and (max-width: 540px) {
  div.colone-1 div.infocenter {
    margin-top: 0px !important;
    margin-left: 20px !important;
  }
}

div.colone-1 {
  height: 100vh;
  background: #353535;
  -webkit-box-shadow: 70px 4px 54px rgba(0, 0, 0, 0.25);
          box-shadow: 70px 4px 54px rgba(0, 0, 0, 0.25);
}

div.colone-1 div.infocenter {
  margin-top: 50px;
  margin-left: 30px;
}

div.colone-1 p.p1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  color: rgba(255, 255, 255, 0.5);
}

div.colone-1 p.p2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

div.colone-1 h2.h2-1 {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #E77A15;
}

div.colone-1 p.p3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

div.colone-1 p.p9 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  color: #FFFFFF;
}

div.colone-1 button.btn-1 {
  margin-top: 100px;
  margin-right: 30px;
  width: 261px;
  height: 65px;
  background: #FFFFFF;
  border-radius: 36px;
  border: 1px solid #FFFFFF;
  line-height: 62px;
}

div.colone-1 button.btn-1 p.p4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #E77A15;
}

div.colone-1 button.btn-2 {
  width: 261px;
  height: 65px;
  background: #E77A15;
  border-radius: 36px;
  border: 1px solid #E77A15;
  margin: auto;
  line-height: 62px;
}

div.colone-1 button.btn-2 p.p5 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}

div.colone-1 p.p6 {
  margin-top: 130px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

div.colone-1 p.p6 a {
  color: white;
  font-size: 35px;
  margin-left: 20px;
}

div.colone-2 {
  height: 100vh;
}

div.colone-2 img {
  height: 100vh;
  width: 100%;
  left: 30px !important;
}
/*# sourceMappingURL=accueil.css.map */