// -- Profil --
@media screen and (max-width:991px){
        div.colone-profil{
            display:none;
        }
    }

    

    
    
    div.colone-profil{
    height:100vh;
    background: #E77A15;
    box-shadow: 70px 4px 54px rgba(0, 0, 0, 0.25);
        i.iprofil{
            text-align: center;
            margin-top:80px;
            display:block;
            color: #FFFFFF;
            font-size:50px;
        }
    }
    
    div.colone-1{
        div.infocenter2{
            margin:auto 100px;
            p.p7{
                margin-top:50px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 15  px;
                color: #FFFFFF; 
            }
            p.p8{
                margin-top:10px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                color: #FFFFFF; 
            }
        }
    }